name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  schedule:
    - cron: "59 8 7,21 * *"


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: mdbook add
        run: |
          date
          cargo install mdbook --no-default-features --features search --version 0.5.1
          git clone https://github.com/lzanini/mdbook-katex.git mdbook-katex
          cd mdbook-katex 
          cargo install --path . mdbook-katex
          #mdbook-katex supports
      - run: mdbook build
      - run: cp static/* book/.
      - uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: kunkka2/kunkka2.github.io
          publish_branch: main
          publish_dir: ./book
          full_commit_message: ":rocket: ${{ github.event.workflow_run.head_commit.message }}"
